<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<title>Запись на консультацию</title>

</head>

<body>

<div class="popup">

<div class="form-box">

<h2>Запись на консультацию</h2>

<form>

<input type="text" placeholder="Как вас зовут">

<input type="tel" placeholder="Ваш телефон">

<input type="text" placeholder="Комментарий (необязательно)">

<button type="submit">
Отправить заявку
</button>

</form>

</div>

</div>

</body>
</html>